h1 {
    height: fit-content;
}

.list {
    width: 100%;
    padding: 0;
}

ul {
    padding: 0;
    height: fit-content;
    list-style-type: none;
}
li hr{
    width: 100%;
}

a {
    text-decoration: none;
}

.diagn {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0 auto;

    >div {
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .textdiagn {
            width: 100%;
            min-height: 15vh;
            padding: 5px;
        }
    }
}

.bt-primary {
    cursor: pointer;
    background-color: rgb(40, 154, 68);
    padding: 4px 12px;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.bt-primary:hover {
    color: rgb(176, 196, 182);
}
.bt-primary:active {
    color: rgb(63, 122, 77);
}

.bt-volver {
    background-color: rgb(58, 58, 175);
    padding: 4px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.bt-volver:hover {
    color: rgb(187, 187, 248);
}

.bt-volver:active {
    color: rgb(32, 32, 97);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}